.logo
{
  height: 100px;
  width:167px;
  float: left;
  background-image: url(../logo.jpg);
}
.header
{
  float: right;
  font-family: Oswald;
  font-size:3;
    height:100px;
    background: #000020;
    border:1px solid #CCC;
    width:1130px;
    margin:0px auto;
    padding-left: 50px;
    text-align: center;
}
.content
{
  clear:both;
  background-image: url(../classic.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 1400px;
}
a
{
  margin-right: auto;
  color: white;
  text-decoration: none;
}
li
{
  text-indent: 100px;
  font-size: 25px;
  font-family: Oswald;
  color:white;
  display: inline;
  padding-right: 150px;
}
ul a:hover
{
  text-decoration: underline;
  color: white;
  font-size: 25px;
}
