body
{
  font-style: italic;
  font-size: 20px;
  font-family: sans-serif;
}
a
{
  text-decoration: none;
}
li
{
  display: inline;
  text-decoration: none;
  padding-right: 10px;
}
ul a:hover
{
  text-decoration: underline;
  font-size: 30px;
}
  
